@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");

body{
	font-family: "Lora"
	color: black;
}
h1, h2, h3{
  font-family: 'Roboto';
  font-weight: bold;
  color: black;
  margin: 33px;
  justify-content: center;
}
a{
	text-decoration: none;
	color: black;
}
a:hover { 
	color: red;
}